## Ignore test user models content, but keep the folder
/test_user_model/*
!/test_user_model/DO_NOT_DELETE.txt
.gradle/
.kotlin/
build/
local.properties
*.iml
.idea/
.DS_Store
captures/
*.apk
*.ap_
*.aab
output.json
.externalNativeBuild
.cxx
*.log
